@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.login-page {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: "Roboto", sans-serif;

  .login-card {
    background: #fff;
    margin-top: 3.2rem;
    border-radius: 3.2rem;
    box-shadow: 0 0 3.2rem rgba(0, 0, 0, 0.15);
    padding: 3.2rem;
    width: 25%;
    text-align: center;
    z-index: 1;

    .icon {
      font-size: 3.2rem;
      margin-bottom: 0.8rem;
    }

    h2 {
      font-size: 2.4rem;
      font-weight: 500;
      color: #666;
      margin-bottom: 1.2rem;
    }

    p {
      font-size: 1.44rem;
      color: #666;
      margin-bottom: 2.4rem;
    }

    .login-form {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;

      input {
        padding: 1.2rem;
        border: 0.16rem solid #ccc;
        text-align: start;
        border-radius: 1.28rem;
        font-size: 1.6rem;
        font-family: "Roboto", sans-serif;

        &::placeholder {
          font-size: small;
          color: rgb(148, 147, 147);
        }

        &:focus {
          outline: none;
          border-color: #5b23b4;
        }
      }

      .options {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.36rem;
        margin-top: 0.4rem;

        label {
          display: flex;
          align-items: center;
          gap: 0.4rem;
        }

        a {
          text-decoration: none;
          color: #5b23b4;
          font-weight: 600;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .btn.signin {
        background-color: #5b23b4;
        color: white;
        border: none;
        padding: 1.2rem;
        border-radius: 1.28rem;
        font-size: 1.5rem;
        font-weight: bold;
        cursor: pointer;
        width: 40%;
        align-self: center;
      }
    }

    .footer {
      margin-top: 2.4rem;

      p {
        font-size: 1.28rem;
        color: #333;
      }

      a {
        color: #5b23b4;
        text-decoration: none;
        font-weight: 600;

        &:hover {
          text-decoration: underline;
        }
      }

      .or {
        margin: 1.6rem 0;
        color: #999;
      }

      .auth-icon-group {
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-top: 1rem;

        a {
          display: inline-block;
          width: 30px;
          height: 30px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
