@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

@keyframes moveUpDown {
  0% {
    transform: translateY(0%) scale(1) skewX(0deg);
  }
  50% {
    transform: translateY(-10%) scale(1.01) skewX(-15deg);
  }

  100% {
    transform: translateY(0%) scale(1) skewX(0deg);
  }
}

@keyframes scaleUpDown {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.landing-page {
  font-family: "Arial", sans-serif;

  height: 100vh;
  color: #1f2937;
  font-family: "Lexend";
  // background-image: linear-gradient( to right bottom, #74cdeb, #fff );

  .navbar {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // padding: 2rem 4rem;
    // background-color: white;
    // box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.05);
    // height: 8rem;
    // font-weight: 400;
    // font-size: 1.6rem;

    .gridLogo {
      width: 3.5rem;
    }

    .logo {
      font-size: 2rem;
      font-weight: 700;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .nav-links {
      display: flex;
      gap: 2rem;

      a {
        color: #5a5a5a;

        text-decoration: none;

        &:hover {
          color: #2563eb;
        }
      }
    }

    .auth-buttons {
      display: flex;
      gap: 1rem;

      .btn {
        padding: 0.6rem 1.2rem;
        font-weight: 600;
        border-radius: 0.5rem;
        cursor: pointer;
        &.outline {
          border: 1px solid #2563eb;
          background: transparent;
          color: #2563eb;
        }
        &.primary {
          border: none;
          background-color: #2563eb;
          color: white;
        }
      }
    }
  }

  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
    gap: 3rem;
    height: calc(100vh - 8rem);

    .hero-text {
      width: 45%;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 100%;

      h1 {
        width: 80%;
        font-size: 2.5rem;
        font-weight: 800;
        margin-top: 10vh;
        margin-bottom: 10vh;
        color: #3e4b5e;

        span {
          color: #2563eb;
          display: inline-block;
          animation: moveUpDown 2s infinite ease-in-out;
        }
      }

      p {
        font-size: 1.125rem;
        color: #3e4b5e;
        margin-bottom: 8vh;
        font-weight: 300;
        font-size: 2rem;
      }

      .input-group {
        display: flex;
        margin-bottom: 8vh;
        gap: 3%;

        input {
          border: 1px solid #8a8ca5;
          width: 50%;
          height: 5rem;
          border-radius: 0.5rem;
          padding-left: 5%;
          font-size: 1.4rem;
          font-weight: 500;
          color: #2563eb;
        }

        input::placeholder {
          color: #3e4b5e;
        }

        button {
          font-size: 1.5rem;
          font-weight: 600;
          color: white;
          background-color: #2563eb;
          border-radius: 0.5rem;
          padding: 0.5rem 1rem;
          animation: scaleUpDown 2s infinite ease-in-out;
        }
      }

      .features {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        color: #3e4b5e;

        font-size: 0.95rem;
        font-size: 1.4rem;
        font-weight: 400;

        li {
          display: flex;
          gap: 0.5rem;

          svg {
            width: 2rem;
            height: 2rem;
            color: #2563eb;
          }
        }
      }
    }

    .hero-image {
      img {
        width: 100%;
        max-width: 600px;
        border-radius: 1.25rem;
      }
    }
  }
}
